/************************************************
	FONTS
************************************************/

@font-face {
    font-family: 'Helvetica_Neue';
    src: url('fonts/HELVETICANEUELTSTD-ROMAN.ttf') format('truetype'),
         url('fonts/HELVETICANEUELTSTD-ROMAN.svg#06ce8507218b5fc98ef98a8271373604') format('svg');
}

@font-face {
    font-family: 'Helvetica_Neue_Bold';
    src: url('fonts/HELVETICANEUELTSTD-BD.ttf') format('truetype'),
         url('fonts/HELVETICANEUELTSTD-BD.svg#5971a26102354d59c0f922ff596bc172') format('svg');
}

@font-face {
    font-family: 'Helvetica_Light';
    src: url('fonts/Helvetica-Light.ttf') format('truetype'),
         url('fonts/Helvetica-Light.svg#53fc34fb6737daa8ac541a82b0a99ee9') format('svg');
}

/************************************************
	APP STYLES
************************************************/

body {
    font-family: 'Helvetica_Neue_Bold';
    font-size: 30px;
    line-height: 1.3;
}

b {
   font-family: 'Helvetica_Neue_Bold';
   font-weight: normal;
}

p {    margin-bottom: 4px;}

.hidden {           display: none;}

.brand_color_primary {    color: #db0d1a;}

#global{
    background: transparent url('images/bg.jpg') no-repeat 0 0;
}


#logo {
    width: 400px;
    float: left;
    margin: 50px;
    font-size: 45px;
    font-family: 'Helvetica_Neue_Bold';
}

/**************************************
******* BTN ***************************
***************************************/


.btn {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    background: #666666;
}

.retina .btn {
    min-width: 100px;
    min-height: 100px;
}

.btn-tancar {
    top: 20px;
    right: 20px;
}

.btn.big {
    width: 350px;
    height: 350px;
}

.popup .btn-tancar {
    top: 30px;
    right: 40px;
}

.btn-tornar {
    top: 110px;
    right: 120px;
}


/****** botó pressionat *****/
.pressed.btn-react {
    opacity: 0.7 !important;
}

/**************************************
******* Zona contingut ****************
***************************************/

#zona_contingut {
    position: absolute;
    top: 180px;
    left: 50px;
    width: 1950px;
    height: 1280px;
}

/**************************************
******* Menu **************************
***************************************/

#mainmenu {
    background-color:#9b9b9b;
}

#mainmenu ul li {
    position: relative;
}

#mainmenu ul li > span {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
}

#mainmenu ul.nivell-1 li > span {
    -webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
}

#mainmenu ul.nivell-2,
#mainmenu ul.nivell-3 {
    display: none;
    background-color:#9b9b9b;
}

#mainmenu ul.nivell-2,
#mainmenu ul.nivell-3 {
    position: absolute;
    top:0;
    left: -200px;
    width: 200px;
}

.retina #mainmenu ul.nivell-2,
.retina #mainmenu ul.nivell-3{
    left: -400px;
    width: 400px;
}



#mainmenu ul.nivell-1 li {
    height: 200px;
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #bcbcbc;
}

#mainmenu ul.nivell-1 li:first-child {  border-top: none;}

#mainmenu li.active {
    background: green;
}

#mainmenu li.focused {
    background: yellow;
}

/**************************************
******* Popup *************************
***************************************/

.popup {
    background: transparent url('images/bg_popup.png') no-repeat center center;
    padding: 80px;
}


/**************************************
******* Bullets **************************
***************************************/

.bullet {
    border-radius: 50%;
    background-color: grey;
}
.bullet.active {
    background-color: red;
}